.welcome-container {
  margin: 0 auto;
  padding: 30px;
  padding-right: 0;
}

.ant-carousel .slick-dots li button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

main {
  aside {
    background: linear-gradient(180deg, #8575e5 0%, #4979bc 16.4%);
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 0, 77% 100%, 0% 100%);
    margin-right: -68px;
  }

  .custom-shape-right {
    // height: calc(100vh - 300px);
    background: #f6f8f8;
    position: relative;
    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 10px;
    // padding: 20px;25%
    // margin: 30px;
    padding: 20px;
    padding-left: 10%;
  }

  .ant-carousel {
    margin: 40px 0;
    max-height: 220px;
  }

  [nz-carousel-content] {
    text-align: center;
    // height: 160px;
    // line-height: 160px;
    color: #fff;
    overflow: hidden;

    .carousel-text {
      width: 220px;
    }

    .carousel-btn {
      padding: 10px;
      border-radius: 10px;
      background: #ffffff29;
      display: inline-block;
      margin-top: 10px;
      cursor: pointer;
      transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .carousel-btn:hover {
      transform: scale(1.1);
      background-color: #ffffff50;
    }

    .carousel-btn:active {
      transform: scale(0.95);
    }

    // div {
    //   height: 50px;
    // }
  }
}
