.popular-services {
  background: #fefefe;
  border: 1px solid #38414029;
  box-shadow: 0px 4px 8px 0px #0000000a;
  border-radius: 10px;
  padding: 20px;

  img {
    max-width: 100%;
    // padding: 10px;
  }

  &-header {
  }
}
