/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(180deg, #4979bc -4.81%, #213756 94.19%);
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}
